.chat-groupname-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 40px;
}
.chat-groupname{
    padding: 12px;
    margin: 8px;
    border: 1px solid;
}

.chat-groupname:hover{
    background-color: #14440a;
}
/* ----------- */
.fetch-chat-opin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* ----------- */
.chat-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------- */
.display-box{
    width: 800px;
    height: 75vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow-y: auto;
    
    
}

.display-box img{
    width: 200px;
    height: 150px;
}

/* -------------- */

.input-box{
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    width: 800px;
    margin-top: 14px;
    gap: 50px;
    position: fixed;
    cursor: 1; */

}
.chat-input-box{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.chat-input-box input{ 
    width: 360px;
}

/* --------------------------- */

/* --------------------------------------- */

.photo-input-box{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 2px;
}
.photo-input-box label{
    background-color: antiquewhite;
    padding: 7px;
}

.photo-file-input{
    display: none;
}

/* ------------------------------- */

.your-message-green{
    background-color: rgb(88, 181, 103);
    float: right;
    padding: 6px;
    margin: 8px;
    max-width: 350px;
    border-radius: 13px;
}
.your-message-green img{
    max-width: 340px;
    max-height: 300px;
    padding: 10px;
}

.other-message-red{
    background-color: rgb(200, 64, 64);
    float: left;
    padding: 6px;
    margin: 8px;
    max-width: 350px;
    border-radius: 13px;
}
.other-message-red img{
    max-width: 340px;
    max-height: 300px;
    padding: 10px;
}
/* ------- */
.mainStream{
    overflow: hidden;
}
.mystream{
    position: absolute;
    z-index: 5;
}
.remotstream{
    display: flex;
    flex-direction: column;
}
.call-end-button{
    position: absolute;
    margin-left: 380px;
    margin-top: 350px;
    z-index: 10;
}
.call-end-button button{
    background-color:rgb(128, 8, 8);
    border-radius: 15px;
}
.call-end-button button :hover{
    background-color:rgb(210, 23, 23);
}

/* ------ */
