.products-container{
    display: grid;
    grid-template-columns: 350px auto;
}

.sort-filter{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    align-items: center;
    margin: 30px;
}
.priceFilter{
    margin-right: 15px;
    width: 110px;
}

.main-products-listview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.indivisual-gride-container{
    display: grid;
    grid-template-columns: 200px auto;
    border: 0.3px solid;
    margin: 5px;
}
.gride-img img{
    width: 150px;
    height: 100%;
}

.filter-container-column{
    margin-top: 40px;
    padding-left: 30px;
}
.filter-search input{
    width: 90%;
    height: 20px;
}
.filter-category{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
.filter-category button{
    font-size: 15px;
    margin: 3px;
    padding: 3px;
}
.filter-company{
    margin-top: 40px;
}
.filter-company option{
    font-size: 15px;
}
.filter-price{
    margin-top: 30px;
}

.filter-clear button{
    margin-top: 30px;
    font-size: 17px;
    padding: 9px;
    border-radius: 30%;
}
 .gride-container a{
    text-decoration: none;
}
 