.product-detailed-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    padding: 50px;
}


.image-destructuring{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.image-all-parts img{
        width: 60px;
        height: 40px;
        border: 2px solid yellow;
}

.image-all-parts img:hover{
    width: 68px;
    height: 48px;
    border: 2px solid yellow;
    transition: 0.26s;
}

.image-single-parts img{
    width: 380px;
        height: 220px;
}

.product-detailed-info-right{
    display: grid;
    justify-content: space-around;
    padding-left: 90px;
    margin-top: 50px;
}

.product-name{
    font-size: 30px;
}
.product-review{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.btn-color-style{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.amount-toggle{
    display: flex;
    gap: 15px;
    margin-top:10px;
    margin-bottom: 10px;
}
